<div class="dashboard">
    <h3>All Email Subscribers</h3>

    <% if (success !== '') { %>
        <div class="custom-alert ca-success" id="myAlert">
            <span class="close-btn close-success" onclick="closeAlert('successAlert')">×</span>
            <p><%= success %></p>
        </div>
    <% } %>
    
    <% if (danger !== '') { %>
        <div class="custom-alert ca-danger" id="myAlert">
            <span class="close-btn close-danger" onclick="closeAlert('dangerAlert')">×</span>
            <p><%= danger %></p>
        </div>
    <% } %>

    <div class="admin-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Email Address</th>
                    <th>Date Created</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (emailSub && emailSub.length > 0) { %>
                    <% emailSub.forEach(data => { %>
                        <tr>
                            <td> <%= data._id %> </td>
                            <td> <%= data.email %> </td>
                            <td> <%= new Date(data.createdAt).toLocaleString() %> </td>
                            <td>
                                <form id="<%= data._id %>-form" action="/delete-email/<%= data._id %>?_method=DELETE" method="POST">
                                    <button type="button" onclick="confirmDelete('<%= data._id %>')"> Delete </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else if (emailSub) { %>
                    <tr>
                        <td> <%= emailSub._id %> </td>
                        <td> <%= emailSub.email %> </td>
                        <td> <%= new Date(emailSub.createdAt).toLocaleString() %> </td>
                        <td>
                            <form id="<%= emailSub._id %>-form" action="/delete-email/<%= emailSub._id %>?_method=DELETE" method="POST">
                                <button type="button" onclick="confirmDelete('<%= emailSub._id %>')"> Delete </button>
                            </form>
                        </td>
                    </tr>
                <% } else { %>
                    <tr>
                        <td colspan="4"> No Subscribers for Email! </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
