<div class="dashboard">
    <h3>All Users</h3>

    <% if (success !== '') { %>
        <div class="custom-alert ca-success" id="myAlert">
            <span class="close-btn close-success" onclick="closeAlert()">×</span>
            <p><%= success %></p>
        </div>
    <% } %>
    
    <% if (danger !== '') { %>
        <div class="custom-alert ca-danger" id="myAlert">
            <span class="close-btn close-danger" onclick="closeAlert()">×</span>
            <p><%= danger %></p>
        </div>
    <% } %>
    <div class="admin-table">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th class="long">Password</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% if (allUsers && allUsers.length > 0) { %>
                    <% allUsers.forEach(data => { %>
                        <tr>
                            <td> <%= data._id %> </td>
                            <td> <%= data.username %> </td>
                            <td class="long"> <%= data.password %> </td>
                            <td>
                                <form id="<%= data._id %>-form" action="/delete-user/<%= data._id %>?_method=DELETE" method="POST">
                                    <button type="button" onclick="confirmDelete('<%= data._id %>')"> Delete </button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                <% } else if (allUsers) { %>
                    <tr>
                        <td> <%= data._id %> </td>
                        <td> <%= data.username %> </td>
                        <td> <%= data.password %> </td>
                        <td>
                            <form id="<%= data._id %>-form" action="/delete-user/<%= data._id %>?_method=DELETE" method="POST">
                                <button type="button" onclick="confirmDelete('<%= data._id %>')"> Delete </button>
                            </form>
                        </td>
                    </tr>
                <% } else { %>
                    <tr>
                        <td colspan="4"> No Registered Users! </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</div>
