<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= process.env.APP_DESCRIPTION %>">
    <title><%= process.env.APP_TITLE %></title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="stylesheet" href="/css/form.css" type="text/css">
    <link rel="stylesheet" href="/css/sidebar.css" type="text/css">
    <link rel="stylesheet" href="/css/auth.css" type="text/css">
    <script src="/js/confirmDelete.js" defer></script>
</head>
<body>
    <div class="site-wrap-auth">
        <%- include('../partials/header-auth') %>
        <main class="main">
            <%- include('../auth/sidebar') %>
            <%- body %>
        </main>
    </div>
</body>
</html>
